[2015-03-06 17:25] nlwashington opened #1 "add mappings to OMIM phenotypic series"
we can use the phenotypic series from OMIM as some grouping classes.  The phenoseries ids are part of the omim file, here:
http://nif-crawler.neuinfo.org/monarch/ttl/omim.ttl

see ticket here:
https://github.com/obophenotype/human-disease-ontology/issues/25

[2015-03-06 17:27] nlwashington opened #2 "add mappings ORDO and DO"
Add mappings between ORDO and DO.

see https://github.com/obophenotype/human-disease-ontology/issues/15

[2015-03-06 17:34] nlwashington opened #3 "add KEGG disease ids"
Here's the KEGG disease id to OMIM disease id map:
http://rest.genome.jp/link/disease/omim

note that is is a 1:many relationship (so they are often grouping classes).

there are some distinct disease-gene associations in kegg, so having their disease ids would be really helpful.

[2015-03-06 17:34] nlwashington commented on #3
note that these are different than the "disease pathways".

[2015-03-06 17:37] nlwashington opened #4 "add medgen disease id mappings"
please add medgen ids to the uberdisease ontology for xrefs.  these will be useful for linking with clinvar data.
http://www.ncbi.nlm.nih.gov/medgen/docs/faq/#rel

also found this possibly relevant:
ftp://ftp.ncbi.nih.gov/pub/medgen/MedGen_HPO_OMIM_Mapping.txt.gz

ftp://ftp.ncbi.nih.gov/gene/DATA/mim2gene_medgen

also see related https://github.com/monarch-initiative/disease-miner/issues/5
and htt

[2015-03-06 17:39] nlwashington commented on #2
We need orphanet disease ids properly added and xrefed/equivanced with the DOID.

There are a couple of relevant files:

The Orphanet rare disease ontology:
http://www.orphadata.org/cgi-bin/inc/ordo_orphanet.inc.php

Diseases cross-referenced with other nomenclatures:
http://www.orphadata.org/cgi-bin/inc/product1.inc.php

[2015-03-06 17:40] nlwashington commented on #4
Also note that the medgen-to-omim (and other vocab) mappings here can't be trusted as equivalence classes. For example, for Hermasky-Pudluck syndrome,
http://beta.neuinfo.org/mynif/search.php?q=DOID_3753&dis=Hermansky-Pudlak%20syndrome&t=indexable&nif=nlx_151671-4&b=0&r=20
it has several subtypes; each one maps to GeneReviews:NBK1287, which is for a general type of Hermansky-Pudlak.

[2015-03-06 17:41] nlwashington opened #5 "fix SNOMED prefixes"
currently, ids for SNOMED are formed like:

SNOMEDCT_2010_1_31:154999006

is it necessary to code the date/version information into the prefix? shouldn't this just be SNOMEDCT?

also in ticket: https://support.crbs.ucsd.edu/browse/NIF-11604

[2015-03-06 17:46] mellybelly commented on #4
yeah i think i would want to manually review all medgen xrefs...

[2015-03-06 17:47] mellybelly commented on #5
It should just be SNOMEDCT, we should be able to include the version used in the file header

[2015-03-06 17:50] nlwashington opened #6 "fix grouping classes"
i've been looking through our the ontology, i've found some issues.

many of the classes in the merged.obo are missing seemingly pedantic grouping classes.

for example,

id: OMIM:614480
name: Hypertriglyceridemia, Transient Infantile
is_a: DOID:630 ! genetic disease

id: OMIM:145750
name: familial hypertriglyceridemia
def: "A lipid metabolism disorder characterized by elevated triglyceride levels

[2015-03-06 19:00] cmungall commented on #2
Currently making use of the xrefs that are in
http://www.orphadata.org/data/ORDO/ordo_orphanet_1.2.owl.zip

I have not checked this OWL against the sources they were presumably
auto-generated from.

As a spot check, the OWL has references to 8289 distinct OMIM IDs (9228
xrefs overall).

On 6 Mar 2015, at 9:39, Nicole Washington wrote:

[2015-03-06 19:06] mellybelly opened #7 "Create grouping classes via hallmark phenotypes"
It would be great if we could autopopulate any missing intermediate nodes based upon anatomical classification of hallmark phenotypes. Basically, for 'Enlarged hippocampus', you know that hippocampal formation is part of 'pallium' and 'cerebral cortex'. If Enlarged hippocampus is a hallmark for a disease (for some reason in our site I don't see any diseases with mophological abnormality of the hip

[2015-03-07 05:39] pnrobinson commented on #6
Hi everybody,

please note that OMIM's phenotype series while extremely useful do not attempt to be a full ontology. Orphanet's ORDO is an ontology of rare diseases that does cover this, and I would very much support us supporting and using ORDO, for the simple reason that we will be able to influence its development and because it is even now an extremely useful resource (it is of course still a

[2015-03-09 01:07] cmungall opened #8 "MDO test case: hyperparathyroidism"
Consider the _phenotype_ parathyroidism and its occurrence in various diseases:
http://www.monarchinitiative.org/phenotype/HP:0000843
(click 'disease' tab)

These are the types of DC:0000201 'hyperparathyroidism'
- [OMIM:145000](http://monarchinitiative.org/disease/OMIM_145000) ! HYPERPARATHYROIDISM 1
- [OMIM:145001](http://monarchinitiative.org/disease/OMIM_145001) ! HYPERPARATHYROIDISM 2
- [OMIM

[2015-03-09 06:48] pnrobinson commented on #8
Note that we have only used frequency annotations such as hallmark if there is data to this effect. Clearly, hyperparathyroidism is essential to many of these diseases. But this (and many other things) will require careful biocuration, and should be something that we achieve over the next 5 years. Note that as it stands "hallmark" is used only for the frequency, and thereby only indirectly to indi

[2015-03-09 07:49] iamkoehler commented on #8
Hi,

I just checked some of the examples:

Orphanet has no clinical signs for these 2.

Orphanet has no clinical signs for this.

This should be in your data, if you use our annotation data (not sure if). My pipeline produces the following line in phenotype_annotation.tab:
OMIM    239200  HYPERPARATHYROIDISM, NEONATAL SEVERE PRIMARY        HP:0000843  ORPHANET:417    TAS     hallmark        O   NE

[2015-03-13 01:06] mellybelly opened #9 "OMIM labels"
OMIM URIs are currently mostly leaf nodes (or merged as equiv classes if name is same as parent and  there is only one child). However, there will occasionally be terms in DC or DO with the same label that don't meet requirements for the merge. Since we don't want to make equivalencies for these OMIM terms (or Decipher for that matter), these terms should be appended with (OMIM) in the label to di

[2015-03-13 05:11] cmungall opened #10 "Bin all OMIM IDs under 'genetic disease'"
All OMIMs are genetic. We should ensure each one is classified here, directly or indirectly. Note that it's not clear which orphanets belong under here.

In future we may want to try representing this in a way that doesn't overload isa - e.g. with an etiology field

[2015-03-13 05:11] #10 closed, assigned to nobody

[2015-03-13 06:22] cmungall opened #11 "Grouping classes for DCs"
We should manually curate groupings at the level above DC

See for example, subtypes of epilepsy, that should be under DOID:1826 ! epilepsy syndrome

![screen shot 2015-03-12 at 9 49 47 pm](https://cloud.githubusercontent.com/assets/50745/6633971/659e792e-c90e-11e4-8109-897b1875bd0c.png)

[2015-03-13 06:31] cmungall opened #12 "DC for sensory ataxia?"
Should we have a DC to cluster the two OMIMs (brown) here?

![screen shot 2015-03-12 at 11 29 38 pm](https://cloud.githubusercontent.com/assets/50745/6634053/b0ff1abc-c90f-11e4-94dd-03793523c31b.png)

[2015-03-13 17:29] mellybelly opened #13 "chromosomal disease considerations"
We have
DOID_0080014 Chromosomal disease
and
Orphanet_68335 Chromosomal anomaly

These are currently siblings, but should probably be equivalent classes. Ideally these would be inferred based upon some genetic characterization of the actual chromosomal variation. @nlwashington @mbrush can we make a property that we populate via annotations to autoclassify these in the future? We could curate these

[2015-03-14 07:11] pnrobinson commented on #13
Agree that the classes are synonymous. Note that there are types of diseases regarded as chromosomal that do not match with the naive definition, e.g.,
http://en.wikipedia.org/wiki/Uniparental_disomy
cheers Peter

Dr. med. Peter N. Robinson, MSc.
Professor of Medical Genomics
Professor in the Bioinformatics Division of the Department of Mathematics and Computer Science of the Freie Universität Ber

[2015-03-14 15:26] pnrobinson commented on #9
Dear everybody,
note that Orphanet terms such as Orphanet_98794 Angelman syndrome due to maternal 15q11q13 deletion are not really consistent with the remaining Orphanet "philosophy" of being a _clinical_ disease ontology rather than a molecular one (the latter being much more OMIM's role). I do not think it makes much sense for us to include them because actually to be consistent you would need t

[2015-03-14 19:21] cmungall commented on #13
1. Can we generally treat 'anomaly' as a synonym for 'disease'. Note DO has separate classes for 'coronary artery anomaly' and 'coronary artery disease'
2. I think ultimately we should have equivalence axioms for most trivial groupings, but I'm not sure I understand the proposed pipeline. I'd just parse the labels
3. DC has 'Chromosome Deletion Syndrome'. We'll need to get this linked when we have

[2015-03-14 19:29] cmungall commented on #13
For fun some examples drawn using OE

Basic example show OMIM under Ordo under DO:

![screen shot 2015-03-14 at 12 24 04 pm](https://cloud.githubusercontent.com/assets/50745/6653200/0ad292b8-ca45-11e4-80d9-218a5aaca421.png)

Here is an example of an OMIM that isn't classified under chromosomal disease in the original ORDO. It is classified by DC however:

![screen shot 2015-03-14 at 12 29 24 pm](h

[2015-03-14 21:08] cmungall commented on #9
Orphanet puts these under the class 'etiological subtype'. We treat these as metaclasses in our translation, and retain them as subsets (everything is a subclass of disease in mondo).

We could change the merge rule such that OMIMs are merged into their parent if the labels match and its the only non-etiological subtype child.

Just FYI here are all our classes in etiological_subtype subset:

[cod

[2015-03-14 21:47] mellybelly commented on #9
I don't understand inclusion/exclusion criteria for subclassing of orphanet 'etiological subtype'. Some diseases are due to chromosomal variations, others to infectious agents, fine, but then there are so many other orphanet diseases that also have chromosomal variations that are not classified as etiological subtypes. Since there are no etiological subclasses other than that parent class, to me i

[2015-03-14 21:53] mellybelly opened #14 "genes are getting into the disease file"
For example:
OMIM_107730 Apolipoprotein B; APOB
subclass of DO:disease and Orphanet_121386 (no label in file, but is a gene from Orphanet apolipoprotein B)

coming from MGI file I think, genes need to be pruned out upstream.

[2015-03-14 22:08] cmungall commented on #9
I don't really know what the orphanet criteria are. We turn this into a subset which has no logical meaning (although we could in theory use the subset information to guide the merge procedure, but it seems this may be dangerous).

We should never have to merge an OMIM into a DC due to the way DC is created.

[2015-03-14 22:52] mellybelly commented on #12
I think the 'sensory ataxic neuropathy, dysarthria, and opthalmoparesis' term is a compound term, where we may want a higher level parent, though in this case there might not be one as it isn't necessarily solely nervous system disease.

Orphanet_70595 (yellow to the left) is a superclass of the OMIM term that has almost the same label though, these are likely the same disease and are mutually xre

[2015-03-14 23:25] mellybelly opened #15 "Add MeSH to disease file"
see required classes in directory
https://github.com/monarch-initiative/human-disease-ontology/tree/master/src/contrib/MesH.contrib

[2015-03-15 01:01] cmungall commented on #15
@tudorgroza not sure I understand these files

why is this one in 1-n?

[code]

Mappings highlighted:

[code]

I guess this is just because mesh has dodgy synonyms?

btw, not all DOIDs are zero-padded, annoyingly

[2015-03-15 01:05] cmungall commented on #15
These are the meshes in the list that I didn't find DO mappings for

https://github.com/monarch-initiative/human-disease-ontology/blob/master/src/experimental/mesh-missing-from-doid.tsv

Should see if @tudorgroza maps some I don't

Then pass to DO folks for addition?

[2015-03-15 01:41] mellybelly commented on #15
Should all MeSH diseases (or at least the union of those from CTD file and common disease work) have an xref in DO? do we need this so as to not use MeSH directly? what if a MeSH term maps to a DC term but not a DO term? There are a lot of unmatched terms there, though I do see a few that likely didn't match due to not exact string.

For example, 'adult T-cell leukemia' in DO has exact synonym 'Ad

[2015-03-15 04:20] tudorgroza commented on #15
@cmungall that mapping comes from DO (originally in the format DOID:0005566::D013724 | DOID:0005563::D013724 | DOID:0003307::D013724) and hence I assume the DO people tried to relate terms at different levels of specificity (i.e., the more specific DO terms to the more general MeSH term).

W.r.t. the padding - is there something I can do to fix it?

[2015-03-15 04:35] tudorgroza commented on #15
@cmungall I couldn't find additional mappings for the list you've compiled there.

[2015-03-15 07:11] mellybelly opened #16 "review NCI cancer diseases"
I'm seeing quite a lot in NCI and in other places that are not in DO or other sources. perhaps we can do some comparisons? eg. align with 'disease or disorder' branch and/or review xrefs in DO?

[2015-03-15 09:22] pnrobinson commented on #12
Note that diseases by their very nature are compound terms, so to speak, and so in a disease ontology, http://www.omim.org/entry/607459 is perfectly fine. Not sure whether I understand?
-Peter

Dr. med. Peter N. Robinson, MSc.
Professor of Medical Genomics
Professor in the Bioinformatics Division of the Department of Mathematics and Computer Science of the Freie Universität Berlin
Institut für Med

[2015-03-15 14:45] mellybelly commented on #12
only that for these we talked about a higher level subsumer until we can auto classify based upon the phenotypes.  I think we should define some manual curation rules for what to do in cases like this one. for now they just hang out at root, basically.

[2015-03-15 20:39] cmungall commented on #12
Currently the merge rules are quite conservative. The reason a merge doesn't happen here is because ORDO xrefs the OMIM ID from two distinct classes that are siblings. If we merged the OMIM into one parent, then we either lose the dual classification, or we rewire the hierarchy of ORDO, which would be rude and dangerous.

[code]

![z](https://cloud.githubusercontent.com/assets/50745/6657996/91d389

[2015-03-15 23:42] cmungall commented on #15
@tudorgroza - I see, those were the xrefs already in DO. My list should subsume these.

@mellybelly the CTD list subsumes mesh_list.txt, with the exception of MESH:D012203 Rh isoimmunization, which is in DO already as an xref so we don't need an extra class

[2015-03-16 15:22] sbello commented on #14
OMIM:107730 is a gene + phenotype record, so it includes diseases even though it is named for a gene. This is why it is in the MGI disease cluster file. OMIM is working on breaking these apart into separate records.
Sue

[2015-03-16 16:37] cmungall commented on #14
Reopening. May have been premature to filter these from mondo

[2015-03-17 04:11] cmungall opened #17 "We have annotations to Orphanet IDs not in ORDO OWL"
We have 114 Orphanet IDs for which we have HP annotation, but the ID does not exist in the ORDO OWL export.

These appear to correspond to entries with no classification. E.g.

http://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=en&Expert=139498 'Brachydactyly type D'

Should we try and classify these? E.g. this one would go under DOID:0050581 ! brachydactyly

or

 Orphanet:294937 ! Brachydactyly

[2015-03-17 04:14] cmungall commented on #17
We at least need labels for these. Maybe @jamesmalone can shed some light on the ordo pipeline. But in the interim the labels could come from dipper

[2015-03-17 04:43] cmungall commented on #16
Random example. NCIt easy to see as they lead with Caps. In this example you can see a lot of the more specific classes are equivalent in both but both may have different groupings

![screen shot 2015-03-16 at 9 42 10 pm](https://cloud.githubusercontent.com/assets/50745/6681534/59ce085c-cc25-11e4-818e-58326dda10e9.png)
![screen shot 2015-03-16 at 9 41 40 pm](https://cloud.githubusercontent.com/ass

[2015-03-17 04:46] cmungall commented on #16
I think the most sensible way forward is to agree on primitives ('malignant', 'neoplasm', etc - we have the cells and anatomy). And make equivalence axioms from these. NCIt at least have equiv axioms but their design patterns are different than what we might use. I think there may be some kind of legacy of their old ontology tool here.

But in the interim for mondo I would be open to swapping out

[2015-03-17 04:55] cmungall commented on #15
Didn't remember to tag the commit, but mondo now has mesh classes, either as equivalents to existing mondo classes, or sometimes as their own class with subclass axioms to existing mondos.

This can lead to some oddities, e.g.

[code]

because there is no generic ependymoma in mondo. But this is better than alternatives

[2015-03-17 05:18] cmungall opened #18 "SHOUTY ALL CAPS sneaking back in"
probably coming from omimclusters, which has its own pipeline for pulling in omim. We should swap in our version

[2015-03-17 13:55] mellybelly commented on #17
If you add them to a file with the DC terms @nicolevasilevsky can categorize them. Same file as Decipher terms?

[2015-03-17 16:38] mellybelly commented on #18
would also be great to have better descriptions that @nlwashington created. @sbello check impact on MGI

[2015-03-17 16:42] nicolevasilevsky commented on #17
I'm happy to help. Please let me know specifically what you would like me to do. :)

[2015-03-17 17:33] sbello commented on #18
MGI has a separate translation process that occurs during the OMIM load. Changing names of OMIM terms in the omimclusters file would have no impact on MGI.

[2015-03-17 18:42] cmungall opened #19 "Adding groupings for DECIPHER"
How is this coming along?

[2015-03-17 18:44] nicolevasilevsky commented on #19
I haven't worked on this yet, I am working on mappingDC_Orphanet_DO.xlsx file right now with Sue. Is the groupings for DECIPHER higher priority?

[2015-03-17 19:05] mellybelly commented on #19
What should we do with ones that really can't be classified?

[2015-03-17 19:13] cmungall commented on #19
I think this is going to be easiest to do by hand editing the obo file

[2015-03-17 19:24] cmungall commented on #19
Can you spot check the commits I made?

https://github.com/monarch-initiative/human-disease-ontology/commit/9ef0ea01a7d3c18e24ed326bcf1c5ccfd9f104c1

[2015-03-17 19:25] cmungall commented on #19
@mellybelly I just put these under 'syndrome' for now

[2015-03-17 19:38] nicolevasilevsky commented on #19
Not sure if you are asking @mellybelly or me to spot check your commits, but I am having trouble opening the file. The file is: decipherclusters.obo, right?

![image](https://cloud.githubusercontent.com/assets/6722114/6695939/78f1ae96-cca2-11e4-8ced-4edd64beb3d4.png)

[2015-03-17 19:43] cmungall commented on #19
Just click on this to see the commits:
https://github.com/monarch-initiative/human-disease-ontology/commit/9ef0ea01a7d3c18e24ed326bcf1c5ccfd9f104c1

[2015-03-17 19:48] nicolevasilevsky commented on #19
I see. I think it looks good. (However, I am unfamiliar with the children of leukodystrophy, so I cannot comment if those are correctly classified.)

[2015-03-17 21:39] cmungall commented on #11
@sbello is it OK to add xrefs and/or synonyms to DCs in the main omimclusters.obo file?

For example, currently text matching with DO is failing on this case. My lexical reordering doesnt work with compound words. If we add a synonym (or direct xref) this will help:

![screen shot 2015-03-17 at 2 39 33 pm](https://cloud.githubusercontent.com/assets/50745/6698150/74541fd4-ccb3-11e4-88c7-3d81bca1e5b

[2015-03-17 21:47] cmungall opened #20 "dysequillibrium syndrome"
- DC is probably the same as the ORDO here
- the ORDO hierarchy doesn't join up as well as it should here. Not much we can do about this.

![screen shot 2015-03-17 at 2 45 04 pm](https://cloud.githubusercontent.com/assets/50745/6698260/8062211c-ccb4-11e4-98c8-c152aaa6d921.png)

[2015-03-17 21:51] nlwashington commented on #18
you can see the label scrubbing i do in dipper for OMIM here:
https://github.com/monarch-initiative/dipper/blob/master/dipper/sources/OMIM.py

in the function _cleanup_label it involves:
1. remove the abbreviation suffixes
2. convert the roman numerals to integer numbers
3. make the text title case, except for conjunctions/prepositions/articles

[2015-03-18 02:57] sbello commented on #11
Yes, xrefs and synonyms are fine.

On Tue, Mar 17, 2015 at 5:39 PM, Chris Mungall notifications@github.com
wrote:

[2015-03-18 06:32] cmungall commented on #14
OK, we we have entries such as OMIM:107730, which are apparently combined G+P entries that may be split in the future (we also have HPO annotations for OMIM:107730 in Monarch).

Then we also have cases like this one:
http://monarchinitiative.org/disease/OMIM:516000
'Complex I, Subunit Nd1'
which seems much more in the gene camp
For which MGI (sensibly) excludes from omimclusters. But note above, w

[2015-03-18 14:01] mellybelly commented on #14
@pnrobinson @drseb should these be migrated to a disease class? for OMIM:516000 possibly LEBER OPTIC ATROPHY?

for OMIM107730 perhaps HYPOBETALIPOPROTEINEMIA? Even if OMIM has genes and diseases mixed up doesn't mean we have to annotate to them, especially as many of these terms could come from DO, orphanet, or DC. We should not annotate phenotypes to genes methinks.

[2015-03-18 15:38] cmungall opened #21 "Use latest version of Orphanet"
Just noticed our pipeline was hardwired to download v1.2...

[2015-03-18 16:11] cmungall commented on #21
Looking at diffs. Does not seem to be any major refactoring. Still these kinds of issues:

![eye](https://cloud.githubusercontent.com/assets/50745/6713311/b3c397d0-cd4e-11e4-8d37-13c042d460aa.png)

[2015-03-18 16:13] cmungall commented on #14
Or if we really want to say 'mutations in this gene cause this
phenotype' then we should use NCBIGene

On 18 Mar 2015, at 7:01, Melissa Haendel wrote:

[2015-03-18 16:13] cmungall commented on #21
2.0 distinguishes between exact an inexact mappings (axiom annotations on the xrefs)

[2015-03-18 16:17] cmungall commented on #21
"Attributed"
"BTNT (broader term maps to a narrower term)"
"E (exact mapping (the terms and the concepts are equivalent))"
"Inclusion term (The term is included under a ICD10 category and has not its own code)"
"Index term"
"ND (not yet decided/unable to decide)"
"NTBT (narrower term maps to a broader term)"
"Specific code (The term has its own code in the ICD10)"
"W (incorrect mapping (two differ

[2015-03-18 16:23] cmungall commented on #21
Not sure we can trust these. Took a random example:

[code]

ie.
- EXACT to OMIM:178550 ! Pulmonary Hemosiderosis
- BTNT  to OMIM:235500 ! Hemosiderosis, Pulmonary, With Deficiency of Gamma-A Globulin

Except http://omim.org/entry/178550 seems to refer to something different from the Orphanet concept (which is idiopathic) "This rare disorder is characterized by the triad of hemoptysis, iron-defici

[2015-03-18 21:15] cmungall commented on #15
Adding MESH causes real problems. Leaving aside the weird junk it brings in, it artificially inflates the diseases we care about

For example, in the latest build we have distinct entries:

[code]

it makes a mess of the PD graph:
![mdo-doid-14330](https://cloud.githubusercontent.com/assets/50745/6719620/1431016e-cd79-11e4-9897-610eeb6e79d9.png)

It's not as easy to merge entries like this as it s

[2015-03-18 21:52] cmungall commented on #15
Disregard my previous comment. Was not aligning mesh to the correct target. Fixed this. PD graph now looks better (stll oddities from ordo, but at least all mesh is now tucked in with the relevant OMIM or DOID or Orphanet class). Hmm, PD3 is still a problem. But at least the others mostly are incorporated correctly.

![mdo-doid-14330](https://cloud.githubusercontent.com/assets/50745/6720224/32a5a2

[2015-03-19 01:05] #21 closed, assigned to nobody

[2015-03-19 05:14] cmungall opened #22 "Orphanets that are retired in ORDO"
Example: Orphanet:924. We have HPO annotations to this.

This is apparently still in orphanet (on the website), but vanished from ORDO, which means we don't even have a label for it.

[2015-03-25 16:52] mellybelly opened #23 "Testing with Familial Mediterranean Fever"
from monarch-app #581

ORPHANET:342 and OMIM_249100 should be merged into the one disease they are. They've got different number of annotations and likely more differences/similarities, but they're the same disease.

In addition there is another OMIM record for FMF which is autosomal dominant.

Be sensible to have these rationally connected.

[2015-03-27 13:27] cmungall opened #24 "Febrile Seizures, Familial"
Compare

[code]

With

[code]

Is this intentional, or is this just lack of consistency over how restrictive the parent (DC:0000159 ) is?

[2015-03-27 13:44] pnrobinson commented on #24
If you read the description of the diseases of these two OMIM entries, the classification is justified. Admittedly there is a lot of overlap, but only the first entry seems to be associated with classical familial febrile seizures.
-Peter

Dr. med. Peter N. Robinson, MSc.
Professor of Medical Genomics
Professor in the Bioinformatics Division of the Department of Mathematics and Computer Science of

[2015-03-27 14:09] iamkoehler commented on #14
Are we sure that for every gene G, for which there is some phenotype (HPX) associated, there is an corresponding OMIM phenotype-entry (OMIMX)?
Is OMIMX annotated with HPX?
Is OMIMX linked to G?

If we have to answer one of the question with no, we are loosing information.

Just my two cents…

Seb

[2015-03-27 14:40] sbello commented on #24
This was based entirely on the way OMIM placed the 2 terms in their phenotypic series. OMIM has 604403 in both series and 604233 only in PS604233.
Sue

[2015-03-27 14:46] sbello commented on #14
The entry 535000 is a gene (\* prefix) record in OMIM, all of the related phenotypes have separate OMIM records. At MGI we exclude all \* records from our disease load.
Sue

[2015-03-27 15:26] iamkoehler commented on #14
I assume you mean 516000.

This OMIM entry has HPO annotations and is linked to ND1 (or MT-ND1, entrez 4535)
I usually use OMIM genemap, mim2gene, and Orphanet to link between diseases and genes or map between OMIM-gene-entry and Entrez-gene.

I do not see any other OMIM entry linked to ND1 in genemap.
I don’t see any Orphanet-entry WITH phenotype-data linked to that gene.

So the links between th

[2015-03-27 15:46] sbello commented on #14
Yes, sorry about that 516000.

[2015-03-27 17:55] cmungall commented on #24
OK, great, just checking.

Fixes #24

[2015-03-27 23:30] nlwashington commented on #14
note the following omim entries have annotations from the HPO group (just 25), that are the "combined" gene and phenotype, but what it really means it is a genomic location that happens to have some phenotypes associated with it:
100650,107680,107730,107741,109270,114835,116790,124060,132810,138300,141800,141900,147892,151430,152200,152780,159555,168820,173470,177400,182870,211100,222745,309850,31

[2015-03-27 23:35] nlwashington commented on #14
i have also opened an issue in the hpo tracker here: https://sourceforge.net/p/obo/human-phenotype-requests/438/

[2015-03-31 17:10] mellybelly opened #25 "Get definitions"
As part of of the build we need to pull the definitions from DO, OMIM, and orphanet, with some order of priority. @nlwashington has built the OMIM and GeneReview text descriptions, these should be relatively easy to pull together with DO terms? then we could potentially identify terms with no definitions (eg. DC terms).

[2015-03-31 17:45] cmungall commented on #25
http://nif-crawler.neuinfo.org/monarch/ttl/
genereviews.ttl has labels syns but not defs

[2015-03-31 17:49] mellybelly commented on #25
I believe @nlwashington is working on licensing issues but hopefully soon defs too.

[2015-03-31 20:43] nlwashington opened #26 "update README"
the readme here still looks identical to the project it was forked from.  perhaps it should be revised/rebranded?

[2015-03-31 20:56] nlwashington commented on #25
awaiting licensing from GR/UW Tech Transfer office.  hoping to have another call with them next week.

[2015-04-06 15:58] cmungall opened #27 "Craniometadiaphyseal/craniometaphyseal dysplasia, Schwartz-Lelek syndrome"
Something happened in the latest build and these became unmerged.

![sl](https://cloud.githubusercontent.com/assets/50745/7007053/120c247e-dc3b-11e4-8a9f-5f4a46926daa.png)

[2015-04-06 15:59] cmungall commented on #27
I think a simple syn addition to DO will help link things. Presumably metaphyseal=metadiaphyseal?

[2015-04-06 16:08] cmungall commented on #27
cc @sbello, do we need more DCs here?

this looks complicated based on yr comments:

[code]

[2015-04-06 16:10] cmungall commented on #27
Here is unprocessed ORDO just for comparison. I don't really understand the upper classifications. But looking at the leaves, seems they treat cr.metadiaphyseal diff from cr/metaphyseal? Or is this just an artefact of their classification? argh.
![foo](https://cloud.githubusercontent.com/assets/50745/7007243/d338d6d2-dc3c-11e4-8742-79ad9cec81c4.png)

[2015-04-06 16:31] pnrobinson commented on #27
of course, metaphyseal is not in general a synonym of metadiaphyseal, and at least in OMIM the "metadia" variant is taken consistently.

Dr. med. Peter N. Robinson, MSc.
Professor of Medical Genomics
Professor in the Bioinformatics Division of the Department of Mathematics and Computer Science of the Freie Universit�t Berlin
Institut f�r Medizinische Genetik und Humangenetik
Charit� - Universit�ts

[2015-04-06 18:24] sbello commented on #27
The OMIM description of 269300 (CRMDD) indicates that this is a distinct
disorder from CMDR (214800):
" Langer et al. (1991) called this condition craniometadiaphyseal
dysplasia, wormian bone type, and distinguished it from craniometaphyseal
dysplasia (see CMDR, 218400 http://www.omim.org/entry/218400). Although
after infancy, the long tubular bones appear the same in both disorders,
the skull cha

[2015-04-06 19:48] cmungall commented on #27
Thx. Will file DO ticket

[2015-04-06 23:04] nlwashington opened #28 "systemic/rheumatic diseases"
i was poking around, and saw "Rare systemic or rheumatologic disease" (Orphanet:98023) as high-level disease cluster

i was trying to figure out what these were, since there's no definition for this term.

i came across this page:
http://www.merckmanuals.com/professional/musculoskeletal_and_connective_tissue_disorders/autoimmune_rheumatic_disorders/systemic_sclerosis.html
(in our system, http://ta

[2015-04-06 23:05] nlwashington commented on #25
do you think we should try to get some kind of licensing for http://www.merckmanuals.com/#three ?

[2015-04-06 23:32] cmungall commented on #28
Hmm, the orphanet has a classification:

http://www.orpha.net/consor/cgi-bin/Disease_Classif.php?lng=EN&data_id=196&PatId=13041&search=Disease_Classif_Simple&new=1

However, this is not in ORDO.owl v2.0. This is either because (a) classification is new or (b) there is a bug in the ORDO pipeline, which should be reported on the ORDO tracker.

Once we have the classification in the owl, mondo should

[2015-04-06 23:36] cmungall commented on #28
Ignore most of last comment. "Rare systemic or rheumatologic disease" (Orphanet:98023) is a root node in orphanet and ORDO.

[2015-04-06 23:52] cmungall commented on #28
OK, this is an absolute mess. Here is a sample of the graph around RA.

![ra](https://cloud.githubusercontent.com/assets/50745/7014652/763369d0-dc7c-11e4-8fa4-95e4bc9d206b.png)

Confusing, huh?
- The OMIM class (brown) should really be called '[genetic] susceptibility to RA' to better differentiate it from its generic DO parent
- The MESH (gray) juvenile form is wackily placed.
- None of this is u

[2015-04-07 02:47] cmungall opened #29 "Evaluate disease to phenotype seeming equivalents"
There are many HP and DOIDs with the same label (thankfully HP uses a leading upper case, usually annoying, but this saves us in Protege, where the same label causes massive issues).

I would rather see explicit different labels otherwise this will cause massive confusion.

Also these equivalent labels could be used to generate axioms - not equivalent classes, but something like 'has hallmark phen

[2015-04-07 03:56] nlwashington commented on #29
+1

[2015-04-20 20:23] cmungall opened #30 "muscle-eye-brain disease"
Attached is the hierarchy for OMIM:236670-Muscular Dystrophy-Dystroglycanopathy

Yellow is ORDO. Note that there is too much of a lattice here. We have glycosylation multiple places as siblings.

![mebd](https://cloud.githubusercontent.com/assets/50745/7239657/7090a74c-e760-11e4-9534-f593c1284d0c.png)

[2015-04-21 18:24] nlwashington commented on #3
there's definitely some oddities.  for example:
http://www.kegg.jp/dbget-bin/www_bget?ds:H00493

this is clearly a grouping class, as it is named:
Heparan sulfate proteoglycan gene defects, including:
Dyssegmental dysplasia, Silverman-Handmaker type;
Schwartz-Jampel syndrome;
Simpson-Golabi-Behmel syndrome, type 1;
Omodysplasia 1;
Multiple exostoses

which includes 5 diseases, that aren't themselv

[2015-04-21 23:13] cmungall commented on #3
Just FYI the LCS of those 6 OMIMs in 'bone disease'

![kegg](https://cloud.githubusercontent.com/assets/50745/7264536/4d717d7c-e841-11e4-9e63-d913739ab73b.png)

[2015-04-21 23:21] nlwashington commented on #3
i notice only a couple of the diseases are linked to something with "perlecan" in it.  I didn't know what that was, so i looked:
Perlecan (PLC) also known as basement membrane-specific heparan sulfate proteoglycan core protein (HSPG) or heparan sulfate proteoglycan 2 (HSPG2), is a protein that in humans is encoded by the HSPG2 gene.

I wonder if there are missing links?

but it looks like the LCS

[2015-04-22 01:14] cmungall commented on #3
Ah yes you're right, Simpson-Golabl-Behmel is effectively unclassified

[2015-05-01 22:56] mellybelly opened #31 "Additional diseases in NDFRT drug files"
These are likely in the UMLS but we'll want them so as to associate drug-disease relationships.
@ShahimEssaid working on NDFRT but maybe can grab the disease graph and ensure we have those classes/xrefs in MonDO

http://evs.nci.nih.gov/ftp1/NDF-RT/

[2015-05-01 22:57] mellybelly commented on #31
see also http://rxnav.nlm.nih.gov/RxNavDoc.html to view the whole content.

[2015-05-04 04:42] nlwashington opened #32 "piere robin sequence synonym"
Weissenbacher-Zweymüller syndrome has as synonyms Pierre Robin Malformation, Piere-Robin syndrome

PIERRE ROBIN SEQUENCE should be a synonym (should be coming from the OMIM file)

http://tartini.crbs.ucsd.edu/disease/OMIM:261800

also, it is odd to see that OMIM:261800 Pierre Robin Syndrome is a parent of itself (with same OMIM id) (see screenshot).

[2015-05-04 05:24] cmungall commented on #32
Did you mean to attach an image?

Here is one:
![pr](https://cloud.githubusercontent.com/assets/50745/7449113/fa19d330-f1e2-11e4-97eb-fd044d258829.png)

The grey is MESH - we're conservative in how we merge, would like to drop from the merged and treat as a separate mapping

Will look into why it isn't being merged up into DO class (blue)

[2015-05-04 05:26] cmungall commented on #32
not trivial

[code]

[2015-05-04 06:19] pnrobinson commented on #32
Minor point, but something seems to be going wrong with parsing of non ASCII chars: the "ü" in http://ghr.nlm.nih.gov/condition/weissenbacher-zweymuller-syndrome has become a "C<"
-p

Dr. med. Peter N. Robinson, MSc.
Professor of Medical Genomics
Professor in the Bioinformatics Division of the Department of Mathematics and Computer Science of the Freie Universität Berlin
Institut für Medizinische

[2015-05-06 18:46] nicolevasilevsky opened #33 "Issues editing Bridge.owl file"
I made a test comment and was able to save it, but now I am having issues again. :(

I tried to move one class (achoo syndrome to a child of syndrome) and it gave me an error when I tried to save, then I tried to save again and it told me the ontology had change and would l like to reload, so I said yes.

Then I closed Protege (5, beta 17) and now it won't load the bridge file:
![image](https://cl

[2015-05-13 16:49] nicolevasilevsky commented on #33
Chris helped me sort this out on the phone. Everything is working now.

[2015-05-13 16:49] #33 closed, assigned to nobody

[2015-05-16 00:57] cmungall opened #34 "Verify: Pemphigus"
We are missing some links here;

![pemphigus](https://cloud.githubusercontent.com/assets/50745/7663992/9b068252-fb2a-11e4-9dd8-752c60c88af0.png)
- blue = DO
- yellow = ORDO
- brown = OMIM
- grey = MESH

Should DOID:9182 ! pemphigus be merged into Orphanet:79669 ! Autoimmune bullous skin disease?

[2015-05-20 03:27] nlwashington opened #35 "ciliopathies"
there ought to be a grouping class for all ciliopathies.

http://en.wikipedia.org/wiki/Ciliopathy

i would think that [primary ciliary dyskinesia](http://tartini.crbs.ucsd.edu/disease/DOID:9562) would be one of these, as well as many others.  it seems like [Meckel Syndrome, Type 3](http://tartini.crbs.ucsd.edu/disease/OMIM:603194) is one of these, but there is no general group for all ciliopathies

[2015-05-20 16:56] nicolevasilevsky commented on #35
do you want this to be changed in the bridge file? if so, I can do it.

[2015-05-20 18:07] cmungall commented on #35
you need a term to bridge to. @nicolevasilevsky can you make a request on the main DO tracker and suggest the subclasses?

[2015-05-20 18:18] nicolevasilevsky commented on #35
http://sourceforge.net/p/diseaseontology/feature-requests/81/

[2015-05-22 19:15] nicolevasilevsky commented on #19
is there still something that needs to be done or can we close this ticket?

[2015-05-27 14:46] mellybelly opened #36 "consider UNIQUE information resource for some disease descriptions"
http://www.rarechromo.org/html/DisorderGuides.asp
(may also have additional phenotypes for curation)

[2015-05-27 16:03] nlwashington commented on #3
what is the URI for kegg disease identifiers?  for example:
http://www.kegg.jp/dbget-bin/www_bget?ds:H00060

in dipper, i could add equivalence axioms between kegg disease ids and omim disease ids if they are 1:1.  this is a very conservative estimate.  would you like that?

[2015-05-27 18:41] nlwashington commented on #3
there are also ~73 KEGG diseases that have no omim mappings, but do have disease-gene associations.  for example:
http://www.kegg.jp/dbget-bin/www_bget?ds:H00014

be sure you get these into mondo!

[2015-06-12 10:56] mellybelly opened #37 "missing equivalency axioms between OMIM and Decipher"
For example see:
http://monarchinitiative.org/disease/OMIM_182290
http://monarchinitiative.org/disease/DECIPHER_8

Also see
https://decipher.sanger.ac.uk/syndrome/8#phenotype
for comparison. We have a lot more phenotypes, but we should check we aren't missing annotations

[2015-06-29 19:17] nlwashington commented on #14
[OMIM:124060](http://omim.org/entry/124060) is also a gene causing all kinds of trouble.

[2015-06-29 22:00] nlwashington commented on #14
and then there are thinks like [OMIM:601894](http://omim.org/entry/601894) which are very clearly just diseases, but end up getting typed as genes somewhere in the pipeline.  i've checked our code and output ttl, and this typing is not coming from the data, but must be from the ontologies.

[2015-07-20 22:13] cmungall commented on #14
I will:
1. using Monarch's omim.ttl to generate a 'blacklist' of genes (can be done by the SO class)
2. subtract these from any downstream application of omimclusters.obo

[2015-07-20 22:32] cmungall opened #38 "Ensure bridge axioms are included in final mondo release"

[2015-07-20 22:53] cmungall opened #39 "Ensure every orphanet class we have data for is included"

[2015-07-20 23:39] cmungall opened #40 "Decouple this repo from fork"
It probably makes sense to make this repo standalone rather than a fork, as it currently is

can be done this way
https://help.github.com/articles/duplicating-a-repository/

But ideally we would preserve tickets too

See hints here:
https://github.com/holman/ama/issues/413

[2015-07-21 16:13] cmungall commented on #40
See the README.md: https://github.com/monarch-initiative/monarch-disease-ontology

[2015-07-21 16:38] cmungall commented on #40
Need to move issues

This does it 1 at a time
https://github-issue-mover.appspot.com/
A bit tedious... not sure if there is a faster way

[2015-07-21 16:46] mellybelly commented on #40
@cmungall if you show @nicolevasilevsky how to do it I am sure she would be willing to help

[2015-07-24 21:22] cmungall commented on #40
Instructions:
1. go to https://github-issue-mover.appspot.com/
2. Authorize
3. In "Issue to move field" field enter `monarch-initiative/human-disease-ontology#1`
4. In "Destination" field enter `monarch-initiative/monarch-disease-ontology`  (note: no number)
5. Click "Move issue"
6. Go back to step 3, and replace "1" with "2" and so on, until all done

[2015-07-24 23:53] cmungall commented on #1
This issue was moved to monarch-initiative/monarch-disease-ontology#5

[2015-07-24 23:53] #1 closed, assigned to nobody

[2015-07-24 23:53] cmungall commented on #2
This issue was moved to monarch-initiative/monarch-disease-ontology#6

[2015-07-24 23:53] #2 closed, assigned to nobody

[2015-07-24 23:54] cmungall commented on #3
This issue was moved to monarch-initiative/monarch-disease-ontology#7

[2015-07-24 23:54] #3 closed, assigned to nobody

[2015-07-24 23:54] cmungall commented on #4
This issue was moved to monarch-initiative/monarch-disease-ontology#8

[2015-07-24 23:54] #4 closed, assigned to nobody

[2015-07-24 23:54] cmungall commented on #5
This issue was moved to monarch-initiative/monarch-disease-ontology#9

[2015-07-24 23:54] #5 closed, assigned to nobody

[2015-07-24 23:54] cmungall commented on #6
This issue was moved to monarch-initiative/monarch-disease-ontology#10

[2015-07-24 23:54] #6 closed, assigned to nobody

[2015-07-24 23:54] cmungall commented on #7
This issue was moved to monarch-initiative/monarch-disease-ontology#11

[2015-07-24 23:54] #7 closed, assigned to nobody

[2015-07-24 23:54] cmungall commented on #8
This issue was moved to monarch-initiative/monarch-disease-ontology#12

[2015-07-24 23:54] #8 closed, assigned to nobody

[2015-07-24 23:55] cmungall commented on #9
This issue was moved to monarch-initiative/monarch-disease-ontology#13

[2015-07-24 23:55] #9 closed, assigned to nobody

[2015-07-24 23:55] cmungall commented on #14
This issue was moved to monarch-initiative/monarch-disease-ontology#14

[2015-07-24 23:55] #14 closed, assigned to nobody

[2015-07-24 23:55] cmungall commented on #40
I did 1-9, so start at `#10`. It will map to 15 in the new. Don't worry

[2015-08-08 19:11] cmungall opened #41 "Cleft palate"
We have:

[code]

This is confusing for users. We deliberately are non-aggressive in merging OMIMs into DOID; the DO term is typically general, as in this case, with the OMIM sometimes referring to something more specific than it's name suggests, although this is far from clear:

[code]

[2015-08-12 17:58] nicolevasilevsky commented on #10
This issue was moved to monarch-initiative/monarch-disease-ontology#18

[2015-08-12 17:59] nicolevasilevsky commented on #40
working on this now

[2015-08-12 17:59] nicolevasilevsky commented on #11
This issue was moved to monarch-initiative/monarch-disease-ontology#19

[2015-08-12 17:59] #11 closed, assigned to nobody

[2015-08-12 17:59] nicolevasilevsky commented on #12
This issue was moved to monarch-initiative/monarch-disease-ontology#20

[2015-08-12 17:59] #12 closed, assigned to nobody

[2015-08-12 17:59] nicolevasilevsky commented on #13
This issue was moved to monarch-initiative/monarch-disease-ontology#21

[2015-08-12 17:59] #13 closed, assigned to nobody

[2015-08-12 17:59] nicolevasilevsky commented on #14
This issue was moved to monarch-initiative/monarch-disease-ontology#22

[2015-08-12 18:00] nicolevasilevsky commented on #15
This issue was moved to monarch-initiative/monarch-disease-ontology#23

[2015-08-12 18:00] #15 closed, assigned to nobody

[2015-08-12 18:00] nicolevasilevsky commented on #16
This issue was moved to monarch-initiative/monarch-disease-ontology#24

[2015-08-12 18:00] #16 closed, assigned to nobody

[2015-08-12 18:00] nicolevasilevsky commented on #17
This issue was moved to monarch-initiative/monarch-disease-ontology#25

[2015-08-12 18:00] #17 closed, assigned to nobody

[2015-08-12 18:00] nicolevasilevsky commented on #18
This issue was moved to monarch-initiative/monarch-disease-ontology#26

[2015-08-12 18:00] #18 closed, assigned to nobody

[2015-08-12 18:02] nicolevasilevsky commented on #19
This issue was moved to monarch-initiative/monarch-disease-ontology#28

[2015-08-12 18:02] #19 closed, assigned to nicolevasilevsky

[2015-08-12 18:02] nicolevasilevsky commented on #20
This issue was moved to monarch-initiative/monarch-disease-ontology#29

[2015-08-12 18:02] #20 closed, assigned to nobody

[2015-08-12 18:02] nicolevasilevsky commented on #21
This issue was moved to monarch-initiative/monarch-disease-ontology#30

[2015-08-12 18:03] nicolevasilevsky commented on #22
This issue was moved to monarch-initiative/monarch-disease-ontology#31

[2015-08-12 18:03] #22 closed, assigned to nobody

[2015-08-12 18:03] nicolevasilevsky commented on #23
This issue was moved to monarch-initiative/monarch-disease-ontology#32

[2015-08-12 18:03] #23 closed, assigned to nobody

[2015-08-12 18:04] nicolevasilevsky commented on #24
This issue was moved to monarch-initiative/monarch-disease-ontology#33

[2015-08-12 18:04] #24 closed, assigned to sbello

[2015-08-12 18:04] nicolevasilevsky commented on #25
This issue was moved to monarch-initiative/monarch-disease-ontology#34

[2015-08-12 18:04] #25 closed, assigned to cmungall

[2015-08-12 18:04] nicolevasilevsky commented on #26
This issue was moved to monarch-initiative/monarch-disease-ontology#35

[2015-08-12 18:04] #26 closed, assigned to cmungall

[2015-08-12 18:04] nicolevasilevsky commented on #27
This issue was moved to monarch-initiative/monarch-disease-ontology#36

[2015-08-12 18:04] #27 closed, assigned to nobody

[2015-08-12 18:04] nicolevasilevsky commented on #28
This issue was moved to monarch-initiative/monarch-disease-ontology#37

[2015-08-12 18:04] #28 closed, assigned to nobody

[2015-08-12 18:04] nicolevasilevsky commented on #29
This issue was moved to monarch-initiative/monarch-disease-ontology#38

[2015-08-12 18:04] #29 closed, assigned to nobody

[2015-08-12 18:04] nicolevasilevsky commented on #30
This issue was moved to monarch-initiative/monarch-disease-ontology#39

[2015-08-12 18:04] #30 closed, assigned to nobody

[2015-08-12 18:05] nicolevasilevsky commented on #31
This issue was moved to monarch-initiative/monarch-disease-ontology#40

[2015-08-12 18:05] #31 closed, assigned to nobody

[2015-08-12 18:05] nicolevasilevsky commented on #32
This issue was moved to monarch-initiative/monarch-disease-ontology#41

[2015-08-12 18:05] #32 closed, assigned to nobody

[2015-08-12 18:05] nicolevasilevsky commented on #34
This issue was moved to monarch-initiative/monarch-disease-ontology#42

[2015-08-12 18:05] #34 closed, assigned to nobody

[2015-08-12 18:05] nicolevasilevsky commented on #35
This issue was moved to monarch-initiative/monarch-disease-ontology#43

[2015-08-12 18:05] #35 closed, assigned to nobody

[2015-08-12 18:06] nicolevasilevsky commented on #33
This issue was moved to monarch-initiative/monarch-disease-ontology#44

[2015-08-12 18:06] nicolevasilevsky commented on #37
This issue was moved to monarch-initiative/monarch-disease-ontology#45

[2015-08-12 18:06] #37 closed, assigned to cmungall

[2015-08-12 18:06] nicolevasilevsky commented on #38
This issue was moved to monarch-initiative/monarch-disease-ontology#46

[2015-08-12 18:06] #38 closed, assigned to cmungall

[2015-08-12 18:06] nicolevasilevsky commented on #39
This issue was moved to monarch-initiative/monarch-disease-ontology#47

[2015-08-12 18:06] #39 closed, assigned to nobody

[2015-08-12 18:07] nicolevasilevsky commented on #40
This issue was moved to monarch-initiative/monarch-disease-ontology#48

[2015-08-12 18:07] #40 closed, assigned to nicolevasilevsky

[2015-08-12 18:07] nicolevasilevsky commented on #41
This issue was moved to monarch-initiative/monarch-disease-ontology#49

[2015-08-12 18:07] #41 closed, assigned to nobody

[2015-08-12 18:07] nicolevasilevsky commented on #36
This issue was moved to monarch-initiative/monarch-disease-ontology#50

[2015-08-12 18:07] #36 closed, assigned to nobody